<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1> "Hola" </h1>
        <% (1..50).to_a.each do |element| %>
            <% if element % 2 == 0 %>
                <p> <%= "#{element} Soy par!" %> </p>
            <% else %>
                <p> <%= "#{element} Soy impar!" %> </p>
            <% end %>
        <% end %>

  </body>
</html>
